* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

header {
    padding-top: 32px;
    height: calc(120px + 32px);
}

.avatar {
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #8336d0 0%, #de6bcd 25%, #43dce7 50%, #E2D45C 100%);
    border-radius: 50%;
    display: flex;
    padding: 4px;
    transition: transform .3s;
}

header div:hover {
    transform: scale(1.1);
}

header img {
    width: 100%;
    border-radius: 50%;
}

ul {
    list-style: none;
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

body {
    /*background-image: url(./assets/Fundo.jpg);
    background-position: top center;
    background-size: 100% auto;*/
    background-image: url(./assets/tentativa.gif);
    box-sizing: border-box;
    background-size: 100% 1300px;
    background-repeat: no-repeat;
    background-color: #121214;
}

main {
    max-width: 580px;
    width: 90%;
    margin: 32px auto;
    display: flex;
    flex-direction: column;
    /*há a possibilidade de utilizar o display: grid; também para obter o mesmo resultado */
    gap: 24px;
    margin-top: 32px;
}

section {
    color: white;
    background-image: linear-gradient(90deg, #8336d0 0%, #de6bcd 30%, #43dce7 60%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background-color: #2a2634c9;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h2 {
    font-weight: 900;
    font-size: 24px;
    letter-spacing: -0.47px;
}

section p {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.18px;
    color: #c2c2c9;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
}

section ul li {
    transition: transform .3s;
}

section ul li:hover {
    transform: scale(1.1);
}

.games-list img {
    border-radius: 8px;
    width: 90px;
}

.animes-list img {
    border-radius: 8px;
    width: 90px;
}

.channel-list img {
    border-radius: 50%;
    width: 70px;
    border: 1px solid #443E54;
}


/* animation */

header div {
    animation: fromTop .7s .4s backwards;
}


main section {
    animation: fromBottom .7s backwards;
}

main section:nth-child(1) {
    animation-delay: 0;
}

main section:nth-child(2) {
    animation-delay: .2s;
}

main section:nth-child(3) {
    animation-delay: .5s;
}

main section:nth-child(4) {
    animation-delay: .7s;
}

/* Definição de animações*/

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);

    }

}
